.tecnologia {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #111;
}

.tecnologia-introducao {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 80px 120px;
}

.tecnologia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0.015rem;
  text-transform: uppercase;
  color: #b2b2b2;
}

.tecnologia-titulo {
  font-size: 4rem;
  line-height: 1.12;
  color: #fff;
}

.tecnologia-paragrafo {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
}

.escolher-modelo {
  color: #ffbb00;
  font-size: 1.5rem;
  line-height: 1.5;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.acessorios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.acessorios-item {
  display: grid;
  gap: 10px;
}

.acessorios-titulo {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
}

.acessorios-texto {
  font-size: 1rem;
  line-height: 1.5;
  color: #b2b2b2;
}
