.modelos {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 120px;
}

.modelos-titulo {
  font-size: 4rem;
  line-height: 1.12;
  text-transform: lowercase;
  padding: 40px 100px;
}

.bicicletas {
  display: flex;
  gap: 40px;
}

.bicicletas-titulo {
  font-size: 2rem;
  line-height: 1.25;
  color: #111;
  margin-bottom: 10px;
  position: relative;
}

.bicicletas-titulo::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 8px;
  background-color: #ffbb00;
  top: 15px;
  left: -20px;
}

.bicicletas-preco {
  display: block;
  font-size: 1.125rem;
  line-height: 1.33;
  color: #595959;
}
